.yuyu-regular {
  font-family: "Yuyu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  padding: 3px;
  color: #c4d3e7;
  background-color: #050816;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: 2px 2px 6px #b9ccd0;
}

p::selection {
  background-color: rgb(55, 0, 100);
  color: rgb(204, 38, 255);
}

h1 {
  color: #d7ebff;
  text-align: center;
  font-size: 4em;
  font-family: "Yuyu", cursive;
}

h2 {
  color: #22d3ee;
  font-size: 2em;
  font-style: italic;
}

.intro {
  text-align: center;
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
}

hr {
  margin: 10px;
  color: #319090;
  border: 1px solid #319090;
}

.nav {
  background-color: #1a2845;
  display: flex;
  text-align: center;
}

.nav a {
  flex: 1;
  padding: 15px;
  color: #22d3ee;
  background-color: #162646;
  text-decoration: none;
}

.nav a:hover {
  background-color: #164e63;
  color: #67e8f9;
}

.nav a.active {
  background-color: #155e75;
  color: #a5f3fc;
}

.flexibility {
  font-size: 15px;
  background-color: #581c87;
  color: #e879f9;
  border: 3px solid #1f2937;
  border-radius: 15px;
}

.flexibility:hover {
  background-color: #7e22ce;
  color: #f5d0fe;
}

.flexibility:active {
  background-color: #be185d;
  font-size: 1.1em;
  color: #fce7f3;
}
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 20px 0;
  padding: 5px;
}

@media (max-width: 600px) {
  .projects {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: #0d1524;
  border: 1px solid #164e63;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px #000000;
  transition:
    transform 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #22d3ee;
  box-shadow: 0 6px 18px #22d3ee;
}

.card h3 {
  color: #22d3ee;
  margin-top: 0;
}

.points {
  padding-left: 20px;
}

.points li {
  margin-bottom: 8px;
}
img {
  width: 600px;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 600px) {
  img {
    width: 100%;
    height: auto;
  }
}

.card-interest {
  background-color: #0d1524;
  border: 1px solid #164e63;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px #000000;
  transition:
    transform 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;
  height: 500px;
  overflow-y: auto;
}
.card-interest:hover {
  transform: translateY(-5px);
  border-color: #22d3ee;
  box-shadow: 0 6px 9px #22d3ee;
}
.card-interest::-webkit-scrollbar {
  width: 10px;
}

.card-interest h3 {
  color: #22d3ee;
  margin-top: 0;
  font-size: 1.5em;
}

/* The scrollbar track */
.card-interest::-webkit-scrollbar-track {
  background: #001022;
}

/* The draggable scrollbar thumb */
.card-interest::-webkit-scrollbar-thumb {
  background: #030035;
  border-radius: 5px;
}

/* Thumb when hovering */
.card-interest::-webkit-scrollbar-thumb:hover {
  background: #07025f;
}
